
.card-main {
    border-radius: 10px;
    width: auto;
    min-height: 300px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.card-details {
    padding: 20px;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.253);
    transition: 1s ease;
    border-radius: 10px;
}

.card-main:hover .card-details{
    right: 0;
    cursor: default;
}
