
.card-body-hover {
    transition: all 0.50s ease-in;
    padding: 0;
}

.card-body-hover:hover {
    box-shadow: 10px 11px 25px -15px rgba(0,0,0,0.5);
    -webkit-box-shadow: 10px 11px 25px -15px rgba(0,0,0,0.5);
    -moz-box-shadow: 10px 11px 25px -15px rgba(0,0,0,0.5);
    cursor: pointer;
    border: none;
}

