.link-hover{
    color: rgb(53, 51, 51);
    padding: 5px 10px;
    font-weight: normal;
    margin-right: 15px;
    text-decoration: none;
    transition: .50s ease;
}
.link-hover:hover{
    background-color:rgb(13, 187, 187);
}

.link-hover:hover small{
    color: whitesmoke;
}
